.boton *
  color: white
.banner-principal__componente h1
  color: #12263F!important
.banner-principal p
  color: #12263F!important 
.banner-interno__fondo
  background-image: url("../assets/curso/fondo-banner-interno.png") !important
  background-repeat: no-repeat   
.cajon.color-primario
  background-color:#FFF5DB
.bg1
  background-image: url("../assets/curso/intro/1.png") !important
  background-repeat: no-repeat 
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.tarjeta-foto-hover
  position: relative
  overflow: hidden
  &:hover
    .tarjeta-foto-hover__tarjeta
      transform: translateY(0%)

  &__titulo
    position: absolute
    bottom: 0
    width: 100%
  &__tarjeta
    transition: transform 0.3s ease-in-out
    position: absolute
    bottom: 0
    width: 100%
    height: 100%
    transform: translateY(100%)  
.bgc1
  background-color: #2C53A0
.bgc2
  background-color:#FFF5DB
.bg2
  background-image: url("../assets/curso/tema1/bg1.png") !important
  background-repeat: no-repeat  
  background-position-y: 250px
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.bg3
  background-image: url("../assets/curso/tema1/bg2.png") !important
  background-repeat: no-repeat  
.wii
  width: 398px
.bgc3
  background-color: #E9EDF5
  margin-left: 1px
  margin-right: 1px
.bloque-texto-g__texto
  width: 65%
.bg4
  background-image: url("../assets/curso/tema1/bg3.png") !important
  background-repeat: no-repeat  
  background-position-y: 450px
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.tabla-b th
  width: 400px
  background-color: #F6F6F6
.tabla-b td 
  background-color: #F6F6F6
.bg5
  background-image: url("../assets/curso/tema1/bg4.png") !important
  background-repeat: no-repeat  
.bg6
  background-color: rgba(245, 232, 230, 1)
  background-repeat: no-repeat  
.tarjeta--azul
  background-color:#FFF5DB
.bg7
  background-image: url("../assets/curso/tema1/bg6.png") !important
  background-repeat: no-repeat
  background-size: contain
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.bg72
  background-image: url("../assets/curso/tema1/bg6.png") !important
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.bg8
  background-image: url("../assets/curso/tema1/bg7.png") !important
  background-repeat: no-repeat  
.cajon.color-acento-contenido
  background-color:#F3E6E3
.img-infografica-b__modal 
    background-color: rgba(255, 245, 247, 1);
.img-infografica-b__modal__contenido div > p
  color: #12263F!important
.img-infografica-b__modal__contenido div > h5
  color: #9F321D!important
.img-infografica-b__modal__btn-cerrar i
  color: white
  background-color: #2C53A0
  padding: 5px
.tarjeta.color-acento-botones--borde
  background-color:#FFF5DB
  border: solid 4px #FFF5DB
.tabs-a__tab
  background-color: #E8E8E8
.bg9
  background-image: url("../assets/curso/tema1/bg8.png") !important
  background-repeat: no-repeat 
  @media screen and ( max-width: 420px)
    background-image: url("../assets/curso/tema4/bg3.png") !important
    background-repeat: no-repeat   
.modal-a__content
  background-color:#ECD6D1
.modal-a__close-btn
  color: white
  background-color: #2C53A0
.color1
  background-image: linear-gradient(#FFFCF5, #FFF5DC)
.bg10
  background-color: #F6F6F6
.col1
  color: #9F321D
  margin-right: 5px
.tarjeta--azul
  background-color:#E9EDF5
.p-3.pb-0.p-md-4.pb-md-0.mb-3.tarjeta.tarjeta--azul.acordion__activo
  background-color: #FFF5DB

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color:#2C53A0
.slyder-a__bullets__item--active
  background-color:#9F321D!important
.slyder-a__bullets__item
  background-color:#636363
//tema 2
.bg11
  background-image: url("../assets/curso/tema2/bg1.png") !important
  background-repeat: no-repeat  
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.color1
  background-image: linear-gradient(#FFFCF5, #FFF5DC)
.tarjeta.color-acento-botones
  background-color: #E9EDF5
.tarjeta.color-acento-botones p  
  color: #12263F
.tarjeta.color-acento-botones strong
  color: #12263F
.img-infografica__card
  width: 60%
.tarjeta.color-acento-contenido
  background-color: #FFF5DB
.tarjeta.color-acento-contenido li
  color: #12263F
.tarjeta.color-acento-contenido p
  color: #12263F
.tarjeta.color-acento-contenido strong
  color: #12263F
.bg23
  background-color: white
.bloque-texto-f.color-acento-contenido:before
  background-color: #F3E6E3
.bloque-texto-f__autor
  text-align: left
.bg22
  background-image: url("../assets/curso/tema2/bg2.png") !important
  background-repeat: no-repeat 
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem  
.tarjeta.color-primario
  background-color: #FFF5DB
  border-radius: 10px!important
.tarjeta.color-primario p 
  color: #12263F!important
.tarjeta-avatar > img
  width: 40%
.tarjeta-avatar .tarjeta
  padding-top: 25px !important
.col21
  background-color: white
  background-image: url("../assets/curso/tema3/t.svg") !important
  background-repeat: no-repeat   
  background-position-x: 50%
  background-position-y: 33px
  @media screen and ( max-width: 578px)
    background-color: transparent 
    background-image: none!important
    .col23
      background-color: white

.tarjeta--azul1
  background-color: #FFF5DB
.boton_wid
  min-width: 53px !important
.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.img-b 
  display: block 
  margin: auto     
  width: auto
  height: auto

.top_img2
  margin-top: -97px
.ClasePripiaBtn
  width: 100%
  background-color: transparent !important
  padding: 0 !important
  padding-bottom: 5px !important
.col22
  background-color: #FFF5DB
  background-image: url("../assets/curso/tema3/t.svg") !important
  background-repeat: no-repeat   
  background-position-x: 50%
  background-position-y: 33px
  @media screen and ( max-width: 578px)
    background-image: none!important
.bg99
  background-image: url("../assets/curso/tema5/bg1.png") !important
  background-repeat: no-repeat 
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -4.5rem  
.linea-tiempo-d.color-acento-botones .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #FFF3D2
  color: #12263F
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #2C53A0
  color: white
.linea-tiempo-d__item__content__title.px-3
  color: #12263F
.tarjeta--gris
  background-color:#FFF5DB
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #E9EDF5
.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #FFF5DB
.bgsintesis
  background-image: url("../assets/curso/bgsintesis.png") !important
  background-repeat: no-repeat  
  background-position-y: 500px
.font1
  font-size: 16px
.fons
  background-color: #F6F6F6

.a1
  margin-left: 10px
  margin-right: 10px
.tq
  background-color: #FFFFFF
.wa
  width: 25px
.tamimg
  width: 63px
.tte
  border-bottom: 2px solid #9F321D
  border-top: 2px solid #9F321D
  position: relative
.acordion__accion__btn--a
  background-color: #2C53A0
  color: white
.tt2
  border-bottom: 2px solid #AFAFAF
  border-top: 2px solid #AFAFAF
  position: relative
.tt3
  border-bottom: 2px solid #AFAFAF
  position: relative
.vs
  color: #9F321D
  margin-right: 10px
.tarjeta.color-acento-contenido.p-4
  padding-bottom: 0px!important
.bgt41
  background-image: url("../assets/curso/tema4/bg1.png") !important
  background-repeat: no-repeat 
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem  
.bgt42
  background-image: url("../assets/curso/tema4/bg2.png") !important
  background-repeat: no-repeat 
  margin-inline: -3.4rem
  padding: 50px
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem  
.slyder-b.mb-5.mt-5
  h3
    font-size: 18px
.banner-principal__info
  @media screen and ( max-width: 992px)
    padding-left: 40px !important
  
.tarjeta.color-primario p
  @media screen and ( max-width: 426px)
    margin-top: 30px!important          
  
.aqw
  margin: 0 auto
  display: flex
  width: fit-content
  justify-content: center
  align-content: center
.bloque-texto-g__texto.p-4
  @media screen and ( max-width: 420px)
    width: 100%!important
.aqz
  @media screen and ( max-width: 420px)
    width: 50%
    margin-left: 70px
.img-infografica__card
  @media screen and ( max-width: 420px)
    width: 100%
.aqw2
  @media screen and ( max-width: 420px)
    margin-left: 60px

.crd_hover_txt1
  position: relative  
  padding: 0 !important
  overflow: hidden
  height: 215px
  &:hover    
    .crd_hover_txt--font     
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--font
    position: absolute
    width: 100%
    padding: 0rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.2rem ))
    h4
      font-size: 17
      text-align: center
.bg-color11
  background-color: #2C53A0
  height: 50px
.bg-color12
  background-color: #fff5dbd1
  height: 170px
.banner-principal__row
  height: 520px !important
  
.banner-principal__img
  background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  align-self: stretch
  background-repeat: no-repeat, no-repeat, no-repeat
  background-position: 10% 85%, 80% 10%, 0% 0%
  background-size: 5%, 10%, 90%
  animation: Flitp 6s ease infinite
  img
    display: none !important

@keyframes Flitp
  0%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  25%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  50%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
    background-position: 15% 85%, 80% 16%, 0% 0%
  75%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  100%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")

.banner-principal__info
  background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  align-self: stretch
  background-repeat: no-repeat
  background-position: 6% 25%, 2% 96%
  background-size: 5%, 6%
  animation: Flitp1 6s ease infinite

@keyframes Flitp1
  0%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  25%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  50%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
    background-position: 10% 25%, 10% 96%
  75%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  100%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  
.banner-principal__row .banner-principal__img
  position: relative
  left: 110px
  top: 0px

.banner-principal__info
  padding-left: 6rem !important
@media screen and ( max-width: 1400px )
  
  .banner-principal__row .banner-principal__img
    left: 48px

@media screen and ( max-width: 1200px )

  .bloque-texto-g__texto
    width: 100%

  .banner-principal__row .banner-principal__img
    left: 40px

@media screen and ( max-width: 768px )

  .banner-principal__info
    padding-left: 1rem !important

  .overlay
    top: -3px

  .bg-color13
    background-size: cover
.aqds
  padding-top: 30px!important
.crd_hover_txt1 .crd_hover_txt--font
  @media screen and ( max-width: 1024px )
    margin-bottom: 40px
.crd_hover_txt1 .crd_hover_txt--font
  @media screen and ( max-width: 768px )
    margin-bottom: 0px
.tabla-a th
  background-color: #FECD4D
.tabla-a td 
  background-color: white
.wia1
  width: 67%
.qaw
  margin-top: -8px